.button-lien1:hover{
    background-color:rgb(201, 114, 0);
}
.button-lien2:hover{
    background-color:rgb(201, 114, 0);
    border: 2px solid rgb(201, 114, 0);
    color: white;

}
.button-formules1:hover{
    background-color:rgb(201, 114, 0);

}
.button-formules2:hover{
    background-color: rgb(201, 114, 0);
    color: white;
    border: 2px solid rgb(201, 114, 0);

}
#button-form:hover{
    background-color: rgb(201, 114, 0);

}
li img:hover{
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);

}
#menu a:hover{
    color: gray;

}