/* -- header -- */

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(http://omnifood.co.uk/resources/css/img/hero-min.jpg);
    background-position: center; /* centre l'image */
    background-size: cover; /* redimentione l'image d'arriére plan */
    background-attachment: fixed; /* fixe le background donne un effet de glissement */
    height: 95vh;
    padding: 0px 0px 50px 0px;

}
#logo{
    width: 100px;
    height: 100px;
}
#menu{
    display: flex;
    color: white;
    list-style: none;
    margin-top: 35px;
}
#menu li{
    padding-left: 25px;
    text-transform: uppercase;
    padding-left: 40px;
    

}
#menu a{
    color: white;
    text-decoration: none;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.block-menu{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;

}
h1{
    color: white;
    margin-top: 100px;
    margin-left: 230px;
    text-transform: uppercase;
    font-size: 300%;
}
#button-lien{
    font-size: 130%;
    display: flex;
    margin-left: 230px;
    
}
.button-lien1{
    padding: 10px 20px 10px 20px;
    margin-right: 25px;
    background-color:rgb(255, 162, 40);
    color: white;
    border: 2px;
    border-radius: 25px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.button-lien2{
    padding: 10px 20px 10px 20px;
    margin-right: 25px;
    background-color: transparent;
    color: rgb(255, 145, 0);
    border: 2px solid rgb(255, 145, 0);
    border-radius: 25px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/* -- block présentation -- */
#block-presentation{
    margin: 0px 0px 50px 0px;
}
.titre{
    font-size: 270%;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}
.titre:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

#liste-presentation{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}
#ios-cart, #ios-nutrition, #ios-alarm, #ios-infinite{
    width: 50px;
    height: 50px;
    color: orange;
}

.liste-plat{
    display: flex;
}
.liste-plat li{
    background-color: black;
    width: 25%;
    height: auto;
    overflow: hidden;
    
}
li img{
    
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    background-position: center; /* centre l'image */
    width: 100%;
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
}
#p-presentation{
    text-align: center;
    padding-bottom: 50px;
}
.titre-block-presentation{
    text-transform: uppercase;
    padding: 25px 0px 25px 0px;
}

/* -- block guide -- */

#guide{
    background-color:rgb(221, 221, 221);
    
}
#block-guide{
    display: flex;
    justify-content: center;
}
#iphone{
    border-radius: 31px;
    width: 200px;
    height: 430px;
}
.span-number{
    border: 2px solid orange;
    padding: 10px 20px 10px 20px;
    border-color: orange;
    color: orange;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#block-instruction{
    margin-left: 50px;
}
#block-guide ul{
    list-style: none;
    margin-top: 50px
}
#liste-guide li{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;

}
#lien-phone{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.lien-version img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* -- section omnifood dans le monde -- */
#omnifood-world{
    margin-bottom: 50px;
}
#omnifood-world h2{
text-align: center
}
#liste-pays{
    display: flex;
    justify-content: space-evenly;
}
#liste-pays .pays{
    width: 20%;
    overflow: hidden;

}
h3{
    margin-top: 20px;
    text-transform: uppercase;
    padding: 10px 0px 15px 0px;
}
.info-city{
    display: flex;
    align-items: baseline;
}
.icone-omnifood-world{
    font-size: 20px;
    color: orange;
    margin-right: 10px;
}
.pays img{
    opacity: 1;

}

/* -- commentaire client -- */
#commentaire{
     background-image: linear-gradient(rgba(0, 0, 0,0.7), rgba(0, 0, 0,0.7)), url(../img/pizza.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    padding-bottom: 50px;
    
}

#liste-com{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
#liste-com li{
    width: 30%;
}
.space-com{
    font-size: 50px;
    font-style: italic;
    margin-left: -15px;
}
blockquote{
    font-style: italic;
    font-size: 23px;
    

}
cite img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}


/* section information prit repas */

#formules{
    background-color: #ccc;
    
}
.titre-formules{
    color: white;
}
#formules-menu{
    display: flex;
    justify-content: space-evenly;

}
#formule-menu div{
    width: 25%;
}
#formules-menu li{
    list-style: none;
    line-height: 30px;
}
.check{
    color: orange;
    padding-right: 5px;
}
#formules-menu h3{
    padding: 10px 0px 30px 5px;
}
.prit{
    font-size: 200%;
    color: orange;
}
.formule-repas{
    background-color: white;
    padding: 0px 20px 20px 20px;
    width: 15%;
    border-radius: 5px;
}
.button-formules2{
    background-color: transparent;
    color: rgb(255, 145, 0);
    border-radius: 20px;
    border: 2px solid rgb(243, 152, 34);
    padding: 10px 20px 10px 20px;
    margin-left: 20%;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.button-formules1{
    background-color:rgb(255, 145, 0);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-left: 20%;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.formule-repas:last-child{
    width: 15%;
}
.liste-formule{
    margin-bottom: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.span-size{
    font-size: 50%;
}

/* formulaire de contact */

#contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#formulaire-de-contact{
    width: 40%;
    margin: 0% 15% 0% 15%;
}
label{
    padding: 5px;
    margin: 5px 0px 5px 0px;
}
input{
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
textarea{
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
select{
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#first-label{
    grid-column: 1 / 2;
    grid-row: 1;
}
#second-label{
    grid-column: 1 / 2;
    grid-row: 2;
}
#third-label{
    grid-column: 1 / 2;
    grid-row: 3;
}
#forth-label{
    grid-column: 1 / 2;
    grid-row: 4;
}
#last-label{
    grid-column: 1/2;
    grid-row: 5;
}

#first-input{
    grid-column: 2 ;
    grid-row: 1;
}
#second-input{
    grid-column: 2;
    grid-row: 2;
}
#third-input{
    grid-column: 2;
    grid-row: 3;
}
#forth-input{
    grid-column: 2;
    grid-row: 4;
}
#last-input{
    grid-column: 2;
    grid-row: 5;
}

#button-form{
    padding: 10px 20px 10px 20px;
    margin-right: 25px;
    margin-top: 10px;
    background-color:rgb(255, 145, 0);
    color: white;
    text-decoration: none;
    border: 2px;
    border-radius: 25px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}



/* footer */


footer{
    background-color: black;
    padding: 50px 0px 50px 0px;
}
.liste-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 15%;
    margin-right: 15%
}
#liste-section{
    
    display: flex;
    flex-direction: flex-start;
    list-style: none;
   
}
#liste-section li{
    margin-right: 20px;
}
#liste-section a{
    color: grey;
    
}
#liste-reseau{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    list-style: none;
    
}
#liste-reseau li{
    margin-right: 20px;
}

a ion-icon{
    color: gray;
}
#signature{
    text-align: center;
    color: gray;
}

/* --- balises générale --- */

* {
    margin: 0;
    padding: 0;
    font-weight: 300;

}
body{
    font-family: 'Lato', 'ariel',sans-serif;
    color: #555;

}

section{
    padding: 50px 0px 50px 0px;
}
p{
    font-size: 135%;
}
a{
    text-decoration: none;

}